<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bob's Totem</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</head>
<body>

<div class="container" ng-app="myApp" ng-controller="myCtrl" ng-init="comida=false">
    <div class="row">
        <div class="col-2">Bob's</div>
        <div class="col-8" style="text-align: left">
            <h3>Escolha sua <text ng-hide="comida"> categoria</text> <text ng-show="comida"> comida</text></h3></div>
        <div class="col-2">Total: {{ getTotal() | currency:"R$"}}</div>
    </div>
    <div class="row">
        <div class="col-10" ng-hide="comida">
            <div class="container">
                <div class="row">
                    <div class="category ">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Lanches</button>
                    </div>
                    <div class="category">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Sobremesas</button>
                    </div>
                    <div class="category">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Bebidas</button>
                    </div>
                </div>
                <div class="row">
                    <div class="category">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Combos</button>
                    </div>
                    <div class="category">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Acompanhamentos</button>
                    </div>
                    <div class="category">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Saladas</button>
                    </div>
                </div>
                <div class="row">
                    <div class="category">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Promoções</button>
                    </div>
                    <div class="category">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Comida</button>
                    </div>
                    <div class="category">
                        <button class="btn btn-secondary btn-lg categoryBtn" ng-click="comida=true">Outra Comida</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10" ng-show="comida">
            <div class="container">
                <div class="row ">
                    <div class="col-4">
                        <p>{{ bigBobs.preco | currency:"R$"}}</p>
                        <p>{{ bigBobs.nome }}</p>
                        <button ng-click="bigBobs.qtd = bigBobs.qtd-1">-</button>
                        <text>{{ bigBobs.qtd }}</text>
                        <button ng-click="bigBobs.qtd = bigBobs.qtd+1">+</button>
                    </div>
                    <div class="col-4">
                        <p>{{bobsBurger.preco | currency:"R$"}}</p>
                        <p>{{ bobsBurger.nome}}</p>
                        <button ng-click="bobsBurger.qtd = bobsBurger.qtd-1">-</button>
                        <text>{{ bobsBurger.qtd }}</text>
                        <button ng-click="bobsBurger.qtd = bobsBurger.qtd+1">+</button>
                    </div>
                    <div class="col-4">
                        <p>{{cancerBurger.preco | currency:"R$"}}</p>
                        <p>{{ cancerBurger.nome}}</p>
                        <button ng-click="cancerBurger.qtd = cancerBurger.qtd-1">-</button>
                        <text>{{ cancerBurger.qtd }}</text>
                        <button ng-click="cancerBurger.qtd = cancerBurger.qtd+1">+</button>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-4">
                        <p>{{ bobsSorvete.preco | currency:"R$"}}</p>
                        <p>{{ bobsSorvete.nome }}</p>
                        <button ng-click="bobsSorvete.qtd = bobsSorvete.qtd-1">-</button>
                        <text>{{ bobsSorvete.qtd }}</text>
                        <button ng-click="bobsSorvete.qtd = bobsSorvete.qtd+1">+</button>
                    </div>
                    <div class="col-4">
                        <p>{{ bobinho.preco | currency:"R$" }}</p>
                        <p>{{ bobinho.nome}}</p>
                        <button ng-click="bobinho.qtd = bobinho.qtd-1">-</button>
                        <text>{{ bobinho.qtd }}</text>
                        <button ng-click="bobinho.qtd = bobinho.qtd+1">+</button>
                    </div>
                    <div class="col-4">
                        <p>{{ bobsBobs.preco | currency:"R$"}}</p>
                        <p>{{ bobsBobs.nome}}</p>
                        <button ng-click="bobsBobs.qtd = bobsBobs.qtd-1">-</button>
                        <text>{{ bobsBobs.qtd }}</text>
                        <button ng-click="bobsBobs.qtd = bobsBobs.qtd+1">+</button>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-4">
                        <p>{{ burgerBobs.preco | currency:"R$"}}</p>
                        <p>{{ burgerBobs.nome}}</p>
                        <button ng-click="burgerBobs.qtd = burgerBobs.qtd-1">-</button>
                        <text>{{ burgerBobs.qtd }}</text>
                        <button ng-click="burgerBobs.qtd = burgerBobs.qtd+1">+</button>
                    </div>
                    <div class="col-4">
                        <p>{{ bobComida.preco | currency:"R$"}}</p>
                        <p>{{ bobComida.nome}}</p>
                        <button ng-click="bobComida.qtd = bobComida.qtd-1">-</button>
                        <text>{{ bobComida.qtd }}</text>
                        <button ng-click="bobComida.qtd = bobComida.qtd+1">+</button>
                    </div>
                    <div class="col-4">
                        <p>{{ bigMac.preco | currency:"R$"}}</p>
                        <p>{{ bigMac.nome}}</p>
                        <button ng-click="bigMac.qtd = bigMac.qtd-1">-</button>
                        <text>{{ bigMac.qtd }}</text>
                        <button ng-click="bigMac.qtd = bigMac.qtd+1">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="container">
                <div class="row">
                    Itens Selecionados
                    <div class="col-12" ng-repeat="burger in burgers | filter: filtro">
                        <text style="font-size: smaller">{{ burger.nome }}: {{ burger.qtd }}</text>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"><button ng-click="comida=false">Voltar</button></div>
        <div class="col-3"><input type="button" value="Info"></div>
        <div class="col-3"><input type="button" value="Cancelar"></div>
        <div class="col-3"><input type="button" value="Concluir"></div>
    </div>
</div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
</body>
</html>
